
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Reem+Kufi:wght@400..700&display=swap');


* {
    transition: all 0.3s;
    border-radius: 20px;
    box-sizing: border-box;
}
*:not(.carousel > button) {
    
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.no-radius {
    border-radius: 0%;
}

body {
    background-color: rgb(30, 30, 30);
    color: rgb(30, 30, 30);
    margin: 0;
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a div{
    display: inline;
    font-size: 2rem;
    text-decoration: none;
    position: relative;
    bottom: 0.5rem;
}
h1 {
    font-size: 4rem;
    margin: 0;
    font-family: "Reem Kufi", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo {
    width: 10%;
}
.title {
    background-color: white;
}
.title, .carousel, .carousel li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.8em 8em;
}
.carousel {
    background: #1941B0;
    min-height: 35em;
}
.overlay {
    position: absolute;
    background-color: black;
    opacity: 20%;
    min-height: 35em;
    margin: 0 -8em;
    width: 100%;
}
.carousel > button {
    font-size: 2.5rem;
    padding: 0 0.5em;
    background: none;
    border: solid white 5px;
    color: white;
    z-index: 550;
}
.carousel > button:hover {
    background-color: white;
    color: rgb(30, 30, 30);
    border-color: transparent;
}
.carousel > button:active {
    
    background-color: transparent;
    color: white;
}
ul {
    list-style-type: none;
}
.carousel li {
    position: absolute;
    bottom: 50%;
    transform: translate(-50%, 50%);
    left: 50%;
    opacity: 0%; 
}
.img-text {
    position: relative;
    min-width: 40ch;
    min-height: 20em;
    background-color: rgba(30, 30, 30, 50%);
    margin-right: 0.8rem;
    z-index: 50;  
    color: white;
    padding: 1em 0.8em 4.5em;
}
.img-text p {
    font-size: 1.8rem;
}
.img-text a {
    position: absolute;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    background-color: rgb(30, 30, 30);
    padding: 0.8em;
    bottom: 2.5em;
    right: 0.8em;
}
.carousel img {
    width: 30em;
    filter: drop-shadow(1em 1em 1em black);
}
.carousel li[data-active]{
    opacity: 100%; 
    z-index: 99;
}
.carousel:hover img {
    filter: drop-shadow(1.5em 1.5em black);
}
.carousel:hover .overlay {
    opacity: 50%;
}
.carousel:hover .img-text {
    background-color: rgba(30, 30, 30, 80%);
}
.carousel-images { 
    position: relative;
}

main {
    background-color: rgb(30, 30, 30);
    border-bottom: .5em solid white;
}
.product-list {
    margin: 2em auto;
    padding: 3em;
    width: 80%;
    background-color: white;
}
.product-search, .products {
    margin-bottom: 1.5em;
    background-color: white;
    border: .5em solid rgb(30, 30, 30);
    padding: 2em;
}
.product-list label[for="product-search"], #product-search {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
}
.product-list #product-search {
    font-size: 1.5rem;
    background-color: white;
    border: 5px solid rgb(30, 30, 30);
    color: rgb(30, 30, 30);
    border-radius: 5px;
}
.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.products li {
    display: inline;
    width: 20%;
    padding: 1em;
}
.products img {
    width: 100%;
    border: 5px solid rgb(30, 30, 30);
}

footer {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    padding: 0.25rem;
    margin-top: auto;
}
footer p {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0.25rem;
}